[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pandas-ta = "*"

[packages]
bokeh = "*"
pandas = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
